<h1>Listing marks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @marks %>
  </tbody>
</table>

<br />

<%= link_to 'New Mark', new_mark_path %>
